<h1>Detalles del Libro</h1>
<div>Nombre: <%= @vaccine.nombre %></div>
<div>Autor: <%= @vaccine.lote %></div>
<div>Fecha de vencimiento: <%= @vaccine.fecha_vencimiento %></div>
<div>Stock: <%= @vaccine.stock %></div>

<%= link_to "Ir a Vacunas", vaccines_path %>
